<section class="top home-top">
    <div class="homebuilder clearfix ">
        <div class="tm-container container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner bottom-parallax clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner ">

                                <div id="parallax_0" class="rd-parallax">
                                    <div class="rd-parallax-inner">
                                        <div class="rd-parallax-layer" data-type="media" data-speed="0.2"
                                            data-direction="inverse"
                                            data-url="https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/parallax-1189x793.png"
                                            data-blur="false" data-media-width="1189" data-media-height="793"
                                            style="background-image: url(&quot;https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/cache/catalog/parallax-1189x793.png&quot;); height: 695px; transform: translate3d(0px, -216.946px, 0px); transition: none 0s ease 0s; filter: none;">
                                        </div>
                                        <div class="rd-parallax-layer layer-1" data-type="html" data-speed="0.1"
                                            data-fade="false" data-direction="inverse"
                                            style="transform: translate3d(0px, -68.4729px, 0px); transition: none 0s ease 0s;">
                                            <div class="description">
                                                <h2 class="parallax-heading"> Most Popular <br>
                                                    Brands </h2>
                                                <div class="parallax-desc">Save 10% on all items</div>
                                                <a href="/shop" class="btn">Shop now</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-container container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner ">
                                <div class="box single-category">
                                    <div class="box-heading">
                                        <h3>Women’s clothing</h3>
                                    </div>
                                    <div class="box-content">
                                        <div role="tabpanel" class="module_tab" id="single-category0">
                                            <div class="box-heading">
                                                <h3>Women’s clothing</h3>
                                            </div>

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist" id="module-single-tabs-0">
                                                <li class="active"><a href="#tab-single-latest-0" role="tab"
                                                        data-toggle="tab" aria-expanded="true">New</a></li>

                                                <li><a href="#tab-single-bestsellers-0" role="tab"
                                                        data-toggle="tab">Bestsellers</a></li>

                                            </ul>
                                            <div class="clear"></div>


                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="tab-single-latest-0">
                                                    <div class="box clearfix">
                                                        <div class="row  mobile-carousel ">
                                                            {{#each accessories}}
                                                            <div
                                                                class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                                                <div class="product-thumb transition ">

                                                                    <div class="image">
                                                                        <a class="lazy lazy-loaded" href="#"
                                                                            style="padding-bottom: 103.7037037037%">
                                                                            <img width="270" height="280"
                                                                                alt="{{ title }}" title="{{ title }}"
                                                                                class="img-primary"
                                                                                data-src="{{ image }}"
                                                                                src="{{ image }}">
                                                                            {{#if album}}
                                                                            <img width="270" height="280"
                                                                                alt="{{ title }}" title="{{ title }}"
                                                                                class="img-secondary"
                                                                                data-src="{{ album.[0] }}"
                                                                                src="{{ album.[0] }}">
                                                                            {{/if}}
                                                                        </a>
                                                                        <div class="cart-button">
                                                                            <button type="button" class="btn-icon"
                                                                                data-toggle="tooltip" title=""
                                                                                onclick="wishlist.add('147');"
                                                                                data-original-title="Add to Wish List"><i
                                                                                    class="bi bi-heart"></i></button>
                                                                            <button class="btn-icon quickview"
                                                                                data-toggle="tooltip" title=""
                                                                                type="button" data-rel="details"
                                                                                data-product="147"
                                                                                data-original-title="Details"><i
                                                                                    class="bi bi-search"></i></button>
                                                                            <button type="button" class="btn-icon"
                                                                                data-toggle="tooltip" title=""
                                                                                onclick="compare.add('147');"
                                                                                data-original-title="Compare this Product"><i
                                                                                    class="bi bi-camera"></i></button>
                                                                        </div>

                                                                    </div>
                                                                    <div class="caption">
                                                                        <div class="name">
                                                                            <a href="#">
                                                                                {{title}}
                                                                            </a>
                                                                        </div>
                                                                        <div class="discount">Save %</div>
                                                                        <div class="price">
                                                                            {{ vnd price }}
                                                                        </div>
                                                                        <button type="button" class="btn-primary ani"
                                                                            onclick="cart.add('147');">Add to
                                                                            Cart<span class="over">Add to
                                                                                Cart</span><span class="out">Add to
                                                                                Cart</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tm-container container ">
            <div class="tm-inner">

                <div class="row row-level-1 ">
                    <div class="row-inner  clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="col-inner ">
                                <div class="box single-category">
                                    <div class="box-heading">
                                        <h3>Services</h3>
                                    </div>
                                    <div class="box-content">
                                        <div role="tabpanel" class="module_tab" id="single-category0">
                                            <div class="box-heading">
                                                <h3><a href="/service"></a>Services</h3>
                                            </div>

                                            <ul class="nav nav-tabs" role="tablist" id="module-single-tabs-0">
                                                <li class="active"><a href="#tab-single-latest-0" role="tab"
                                                        data-toggle="tab" aria-expanded="true">Xe máy</a></li>

                                                <li><a href="/service" role="tab" data-toggle="tab">Ô
                                                        tô</a></li>

                                            </ul>
                                            <div class="clear"></div>


                                            <div role="tabpanel" class="tab-pane active" id="tab-single-latest-0">
                                                <div class="box clearfix">
                                                    <div class="row  mobile-carousel ">
                                                        <div
                                                            class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                                            <div class="product-thumb transition ">

                                                                <div class="image">
                                                                    <a class="lazy lazy-loaded" href="#"
                                                                        style="padding-bottom: 103.7037037037%">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-primary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-secondary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/11519.jpg?v=1669433410710">
                                                                    </a>


                                                                </div>
                                                                <div class="caption">
                                                                    <div class="name">
                                                                        <a href="#">
                                                                            Nhận sửa chữa, bảo dưỡng các loại xe máy
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                                            <div class="product-thumb transition ">

                                                                <div class="image">
                                                                    <a class="lazy lazy-loaded" href="#"
                                                                        style="padding-bottom: 103.7037037037%">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-primary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg">
                                                                    </a>
                                                                </div>
                                                                <div class="caption">
                                                                    <div class="name">
                                                                        <a href="#">
                                                                            Khắc phục tình
                                                                            trạng xe hao xăng, tốn xăng
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                                            <div class="product-thumb transition ">

                                                                <div class="image">
                                                                    <a class="lazy lazy-loaded" href="#"
                                                                        style="padding-bottom: 103.7037037037%">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-primary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg">

                                                                    </a>

                                                                </div>
                                                                <div class="caption">
                                                                    <div class="name">
                                                                        <a href="#">
                                                                            Nâng cấp phần
                                                                            mềm, firmware ECM cho các dòng xe phun xăng
                                                                            điện tử Fi
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">

                                                            <div class="product-thumb transition ">

                                                                <div class="image">
                                                                    <a class="lazy lazy-loaded" href="#"
                                                                        style="padding-bottom: 103.7037037037%">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-primary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg">
                                                                        <img width="270" height="280"
                                                                            alt="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            title="BỘ KHÓA VISION 110cc (2011-2013)"
                                                                            class="img-secondary"
                                                                            data-src="https://khangvlogs.com.vn/wp-content/uploads/2021/11/fix-scooter.jpg"
                                                                            src="https://bizweb.dktcdn.net/thumb/large/100/429/537/products/11519.jpg?v=1669433410710">
                                                                    </a>

                                                                </div>
                                                                <div class="caption">
                                                                    <div class="name">
                                                                        <a href="#">
                                                                            Chữa trị sôi
                                                                            két nước, bị trào nước làm mát
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tm-container container">
            <div class="tm-inner">
                <div class="row row-level-1">
                    <div class="row-inner clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-inner">
                                <div id="zemez-newsletter" class="box newsletter">
                                    <div class="box-content bg-primary text-white p-3"
                                        style="background-image: url('https://livedemo00-opencart.template-help.com/opencart_prod-23523/image/catalog/newsletter.png');background-size: cover;background-repeat: no-repeat;background-position: center center;width: 100%;height: 148px;">
                                        <button type=" button" id="zemez-newsletter-button"
                                            class="btn-primary btn-invert ani mt-4">
                                            <a href="/booking" style="text-decoration: none; color: inherit;">
                                                Đặt lịch ngay
                                                <span class="over">Đặt lịch ngay</span>
                                                <span class="out">Đặt lịch ngay</span>
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>