<footer>
    <div class="container">
        <div class="row">
            <div class="footer_modules">
                <div class="homebuilder clearfix ">
                </div>


                <div class="homebuilder clearfix ">
                    <div class="tm-container ">
                        <div class="tm-inner">

                            <div class="row row-level-1 ">
                                <div class="row-inner  clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex p-2 bd-highlight">
                                        <div class="col-lg-4 col-sm-3 col-md-2">
                                            <h3 class="box-heading">My Account</h3>
                                            <ul class="box-content list-unstyled">
                                                <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=account/account"
                                                        class="text-decoration-none;">My
                                                        Account</a></li>
                                                <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=account/order"
                                                        class="text-decoration-none;">Order
                                                        History</a></li>
                                                <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=account/voucher"
                                                        class="text-decoration-none;">Gift
                                                        Certificates</a></li>
                                                <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=affiliate/login"
                                                        class="text-decoration-none;">Affiliates</a>
                                                </li>
                                                <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=information/sitemap"
                                                        class="text-decoration-none;">Site
                                                        Map</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-3 col-md-3">
                                            <h3 class="box-heading">Contact Us</h3>
                                            <div class="box-content footer_box">
                                                <address>
                                                    {{!-- <p><a class="footer-link" href="#"
                                                            target="_blank">{{shop.address}}</a><br>
                                                        <a class="footer-link" href="callto: {{shop.tel}}">{{ shop.tel }}</a><br>
                                                        <a href="mailto:{{ shop.email }}">{{ shop.email }} </a>
                                                    </p>
                                                </address>
                                                <p>Mở cửa {{ shop.timeOpened }} - {{ shop.timeClosed }} hằng ngày</p> --}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-3 col-md-2">
                                            <h3 class="box-heading">More Ways To Shop</h3>
                                            <ul class="box-content list-unstyled">
                                                <li><a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/search">Find
                                                        a Store</a></li>
                                                <li><a
                                                        href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=account/wishlist">Find
                                                        a Wish List</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="copyright">
        <div class="container">Powered By <a href="http://www.opencart.com">OpenCart</a><br> StoreFlex © 2023.
            Design by <a class="zemez" href="https://zemez.io"> Zemez</a></div>
    </div><!-- [[%FOOTER_LINK]] -->
</footer>