<!-- Chart Start -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form class="input-group">
                <select class="form-select" aria-label="Chọn danh mục tìm kiếm">
                    <option selected="">All</option>
                    <option value="danh-muc-1">Category 1</option>
                    <option value="danh-muc-2">Category 2</option>
                    <option value="danh-muc-3">Category 3</option>
                    <!-- Thêm các tùy chọn danh mục khác tại đây -->
                </select>
                <select class="form-select" aria-label="Value">
                    <option selected="" value="0">Value</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <!-- Thêm các tùy chọn danh mục khác tại đây -->
                </select>
                <input type="text" class="form-control" placeholder="Input keywords...">

                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="mt-4 col-12 text-end">
            <a href="/course/create" class="btn btn-primary">Add product</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <form id="form-delete" action="" method="post">
                {{#each courses}}
                <input type="hidden" name="_method" value="DELETE">
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                        </div>
                    </td>
                    <td>
                        <img src="{{ this.image }}" alt="{{ this.name }}" width="100">
                    </td>

                    <input type="hidden" name="courseId" value="{{ this._id }}">

                    <td>
                        <a href="/course/{{ this.slug }}" class="btn btn-success">Detail</a>
                        <a href="/course/edit/{{ this._id }}" class="btn btn-info">Edit</a>
                        <button type="button" class="btn btn-danger"
                            onclick="confirmDelete('{{ this._id }}')">Delete</button>
                    </td>


                </tr>
                {{/each}}
            </form>

            <!-- Thêm các hàng dữ liệu khác tại đây -->
        </tbody>
    </table>
</div>

<!-- Chart End -->
<script>
    function confirmDelete(courseId) {
        const confirmed = confirm('Are you sure you want to delete this item?');
        if (confirmed) {
            const form = document.getElementById('form-delete');
            form.action = `/course/${courseId}?_method=DELETE`;
            form.submit();
        }
    }
</script>