<div id="product-category" class="container">

    <span class="material-symbols-outlined fw-bold" name="name" style="font-size: 12px;">
        <a href="/shop" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a> >
        <span class="custom-text-style"
            style="font-size: 13px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Subwoofers</span>
    </span>

    <div>

    </div>
    <div class="row">
        <aside id="column-left" class="col-sm-3">
            <div id="html-module0" class="html-module Featured brands html-1">

                <div class="box-heading">
                    <h5>Nhãn hiệu</h5>
                </div>

                <div class="content">
                    <ul>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=5">Michelin</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=6">Continental</a>
                        </li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=7">Yakohama</a></li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=8">Bridgestone</a>
                        </li>
                        <li><a href="index.php?route=product/manufacturer/info&amp;manufacturer_id=9">Toyo</a></li>
                    </ul>
                </div>
            </div>

            <div class="megamenu">
                <h3></h3>
                <ul class="sf-menu sf-js-enabled sf-arrows">
                    <li class="sf-with-mega">
                        <span>Bánh xe</span>
                        <ul class="sf-mega" style="display: none; width: 900px;">
                            <li class="sf-mega_row" style="opacity: 0;">
                                <div class="sf-mega_section" style="width: 100%">
                                    <ul>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=70">
                                                Lốp mềm, êm ái, ít ồn phù hợp đường đẹp</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=69">
                                                Lốp cứng, ồn phù hợp đường xấu</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=68">
                                                Lốp hỗn hợp, phù hợp nhiều loại đường</a>
                                        </li>
                                        <li>
                                            <a
                                                href="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/product&amp;product_id=67">
                                                Lốp hiệu suất cao, lốp đặc chủng</a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="content" class="col-sm-9">

            <div class="product-filter clearfix">
                <div class="product-filter_elem">
                    <div class="button-view">
                        <button type="button" id="list-view" data-toggle="tooltip" title=""
                            data-original-title="List"><i class="bi bi-list-stars"></i></button>
                    </div>
                </div>
                <div class="product-filter_elem sort d-flex align-items-center">
                    <label class="control-label me-2 w-50" for="input-sort">
                        Sort By:
                    </label>
                    <div id="sbHolder_7302433" class="sbHolder"><a id="sbToggle_7302433" href="#"
                            class="sbToggle sbToggleOpen"></a><a id="sbSelector_7302433" href="#" class="sbSelector">
                            Default
                        </a>
                        <ul id="sbOptions_7302433" class="sbOptions"
                            style="bottom: auto; top: 35px; max-height: 269.573px; display: none;">

                            <li><a href="#" rel="#" class="">
                                    Name (A - Z)
                                </a></li>
                            <li><a href="#" rel="#" class="">
                                    Price (Low &gt; High)
                                </a></li>
                            <li><a href="#" rel="#" class="">
                                    Rating (Highest)
                                </a></li>

                        </ul>
                    </div><select id="input-sort" onchange="location = this.value;" sb="7302433" style="display: none;">
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.sort_order&amp;order=ASC"
                            selected="selected">
                            Default
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=pd.name&amp;order=ASC">
                            Name (A - Z)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=p.price&amp;order=ASC">
                            Price (Low &gt; High)
                        </option>
                        <option
                            value="https://livedemo00-opencart.template-help.com/opencart_prod-23523/index.php?route=product/category&amp;path=28&amp;sort=rating&amp;order=DESC">
                            Rating (Highest)
                        </option>

                    </select>
                </div>

            </div>
            <div class="row">
                {{#if notification}}
                <div class="alert text-center alert-{{notification.type}}" role="alert">
                    {{notification.message}}
                </div>
                {{/if}}
                {{#each product }}
                <div class="product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-thumb transition ">
                        <div class="image">
                            <a class="lazy lazy-loaded" href="shop/{{ slug }}" style="padding-bottom: 103.7037037037%">
                                <img width="270" height="280" alt="Alpine SXE-1725S" name="name"
                                    title="Alpine SXE-1725S" class="img-primary" data-src="{{ image }}"
                                    src="{{ image }}">
                                <img width="270" height="280" alt="Alpine SXE-1725S" name="name"
                                    title="Alpine SXE-1725S" class="img-secondary" data-src="{{ album.[0] }}"
                                    src="{{ album.[0] }}">
                            </a>
                            <div class="cart-button">
                                <button class="btn-icon quickview" type="button" data-toggle="tooltip" title=""
                                    data-rel="details" data-product="28" data-original-title="Details"><i
                                        class="fa fa-search-plus"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="wishlist.add('28');" data-original-title="Add to Wish List"><i
                                        class="fa fa-heart-o"></i></button>
                                <button type="button" class="btn-icon" data-toggle="tooltip" title=""
                                    onclick="compare.add('28');" data-original-title="Compare this Product"><i
                                        class="fa fa-random"></i></button>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="name"><a href="{{ slug }}">{{title}}</a></div>
                            <p class="price">
                                {{ vnd price }}
                            </p>
                            <form action="/cart/add-to-cart" method="post">
                                <input type="hidden" name="productId" value="{{ _id }}">
                                <button type="submit" class="btn-primary ani" onclick="cart.add('28');">Add to
                                    Cart<span class="over">Add to Cart</span><span class="out">Add to
                                        Cart</span></button>
                            </form>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
                {{/each}}
                <div id="pagination">
                    <div class="d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination pagination-sm">
                                {{#each pages}}
                                <li>
                                    <a class="btn btn-default" href="{{url}}">{{number}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>